<mat-card class="example-card" *ngIf="car">
	<mat-card-header>
		<div mat-card-avatar class="example-header-image"></div>
		<mat-card-title>Editar Carro</mat-card-title>
	</mat-card-header>

	<mat-card-content>
		<div class="example-container">
			<mat-form-field>
				<input matInput [(ngModel)]="car.model" placeholder="Modelo">
			</mat-form-field>
			<mat-form-field>
				<input matInput [(ngModel)]="car.make" placeholder="Montadora">
			</mat-form-field>

			<mat-form-field>
				<input matInput [(ngModel)]="car.year" placeholder="Ano">
			</mat-form-field>     
		</div>
	</mat-card-content>
	<mat-card-actions align="right">
		<button mat-raised-button color="primary" (click)="goBack()">Voltar</button>
		<button mat-raised-button (click)="save()">Salvar</button>
		<button mat-raised-button color="warn" (click)="delete(car)">Excluir</button>
	</mat-card-actions>
</mat-card>