<mat-card class="example-card">
	<mat-card-header>
		<div mat-card-avatar class="example-header-image"></div>
		<mat-card-title>Cadastrar Carros</mat-card-title>
	</mat-card-header>

	<mat-card-content>
		<div class="example-container">
			<mat-form-field>
				<input matInput #model placeholder="Modelo">
			</mat-form-field>
			<mat-form-field>
				<mat-select #make placeholder="Montadora">
					<mat-option value="Honda">Honda</mat-option>
					<mat-option value="Fiat">Fiat</mat-option>
					<mat-option value="Volkswagen">Volkswagen</mat-option>
					<mat-option value="Ford">Ford</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field>
				<input matInput #year placeholder="Ano">
			</mat-form-field>			
		</div>
	</mat-card-content>
	<mat-card-actions align="right">
		<button mat-raised-button color="primary" (click)="add(model.value,make.value,year.value); model.value=''; make.value=''; year.value='';">Salvar</button>
	</mat-card-actions>
</mat-card>
<br />
<mat-card class="example-card">
	<mat-card-header>
		<div mat-card-avatar class="example-header-image"></div>
		<mat-card-title>Lista de Carros</mat-card-title>
	</mat-card-header>
	
	<mat-card-content>
		<div class="example-container">
			<mat-nav-list>
				<mat-list-item *ngFor="let car of cars">					
					<a matline routerLink="/detail/{{car.id}}">{{car.make}} - {{car.model}} - {{car.year}}</a>				
				</mat-list-item>
			</mat-nav-list>		
		</div>
	</mat-card-content>
</mat-card>